.navigation{
    width: 50%;
    background: transparent;
    display: inline-block;
    text-align: center;
}
.sorter {
    float: left;
}
.modes{
    float: right;
}

ul.header.links {
    float: right;
}
li.link.authorization-link {
    list-style: none;
}
input#search {
    border: none;
}
.footer-social ul{
    margin-bottom: 0;
    padding: 0;
}
.footer-hotline-section {
    text-align: center;
}
li.link.authorization-link a {
    color: #413e3e;
}
.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top{
    border: none;
}
.page-products .sorter {
    position: static;
    margin-left: 100px;
    color: #817c7c;
}
.toolbar select {
    background-color: transparent;
    box-shadow: none;
    border: 0;
}
p#toolbar-amount{
    color: #817c7c;
}
.modes-mode.active {
    box-shadow: none;
    background: transparent;
    border: 0;
}
.modes-mode:last-child {
    border: 0;
    background: transparent;
    box-shadow: none;
}
.breadcrumbs ul.items {
    font-size: 18px;
    color: #fff;
}
.breadcrumbs {
    background: #000;
    color: #fff;
    margin: 0;
    text-align: center;
    max-width: 100%;
    padding: 40px;
    margin-bottom: 70px;
}
.breadcrumbs a:visited {
    color: #fff;
}
.breadcrumbs a {
    color: #fff;
}
p.newsletter-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
input#newsletter {
    background: transparent;
}
button.action.subscribe.primary {
    color: #000;
    background: transparent;
    border: 1px solid #c2c2c2;
    border-left: 0;
    height: 32px;
}

.footer-social li {
    display: inline;
    padding: 20px;
}
.footer-social ul {
    margin-top: 30px;
}
.block.newsletter{
    max-width: 100%;
}
.footer.content .block {
    float: none;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}
.footer li.nav.item {
    display: inline;
    padding: 0 20px;
}
ul.footer.links {
    display: block !important;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.navigation .level0{
    margin: 0 22px 0 0;
}
.breadcrumbs .item:not(:last-child):after{
    font-size: 20px;
    line-height: 27px;
    content: '/';
}
.swatch-option.color {
    border-radius: 100%;
    height: 20px;
    min-width: 17px;
}
strong.block-subtitle.filter-subtitle {
    text-transform: uppercase;
    font-size: 18px;
}
li.item.pages-item-previous, li.item.pages-item-next {
    display: none;
}
span.paget-title, .pages a.page, .pages a.page:visited {
    color: #817c7c;
}
.products.wrapper ~ .toolbar .pages{
    float: none;
    border-top: 1px solid #817c7c;
    border-bottom: 1px solid #817c7c;
    padding: 13px;
}
.pages strong.page{
    background: transparent;
}
.block.newsletter input{
    padding: 0 0 0 15px;
}
.block.newsletter .field .control:before{
    display: none !important;
}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{
    box-shadow: none;
}
.filter-options-title:after{
    display: none !important;
}
.filter-options-item{
    border: 0 !important;
}
.swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option {
    background: transparent !important;
    border: none !important;
}
.cat-pg-bnr {
    color: #fff;
    margin: 40px auto;
    text-align: left;
    max-width: 470px;
}
p.cat-pg-bnr-title {
    font-size: 22px;
}
a.action.showcart:after {
    position: absolute;
    content: "\f0c9";
    font-family: 'FontAwesome';
    top: 4px;
    left: 32px;
    color: #757575;
}
span.counter.qty {
    background: transparent !important;
    position: absolute;
    color: black !important;
    top: 12px;
    left: 12px;
    font-size: 12px;
}
.cart.table-wrapper .actions-toolbar{
    position: absolute;
    z-index: 999;
    top: 40px;
    right: 50px;
}
.cart.table-wrapper .actions-toolbar > .action-delete:before {
    content: '\f00d';
    font-family: 'FONTAWESOME';
    position: absolute;
    border: 2px solid #cccccc;
    padding: 2px 5px;
    border-radius: 100%;
}
.cart-container .form-cart .actions.main{
    text-align: left;
}
button.action.update {
    float: right;
    background: transparent;
}
button.action.update:hover, a.action.continue span:hover {
    border: 1px solid #333333;
}
.abs-shopping-cart-items .actions.main .continue, .block-cart-failed .actions.main .continue, .cart-container .form-cart .actions.main .continue {
    display: block;
    float: left;
    color: #333333;
    font-size: 16px;
    padding: 6px 19px;
    text-decoration: none;
}
.cart.table-wrapper .cart thead tr th.col {
    text-align: center;
}
.cart.table-wrapper .item .col.item{
    padding: 60px 20px 20px 20px;
}
.cart.table-wrapper .cart tbody td {
    text-align: center;
}
.cart.table-wrapper .cart thead tr th.col{
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
th.col.item {
    border-left: 1px solid #cccccc;
}
.cart.table-wrapper .cart tbody td {
    border-right: 1px solid #cccccc;
}
td.col.item {
    border-left: 1px solid #cccccc !important;
    width: auto;
}
td.col.price {
    width: 25%;
}
td.col.qty {
    width: 25%;
}
td.col.subtotal {
    width: 25%;
}
.cart.table-wrapper .col.price, .order-items.table-wrapper .col.price, .cart.table-wrapper .col.qty, .order-items.table-wrapper .col.qty, .cart.table-wrapper .col.subtotal, .order-items.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp, .order-items.table-wrapper .col.msrp{
    text-align: center;
}
td.col {
    text-align: center !important;
    vertical-align: middle;
}
.cart-pg-bnr-title, .cart-pg-bnr-desc{
    color: #333333;
}
a.action.continue {
    border: 1px solid #cccccc;
}
label.cart-label-qty {
    border: 1px solid #333333;
    padding: 8px 2px;
}
.increaseQty{
    padding: 0px 3px 0px 19px;
}
.decreaseQty{
    padding: 0px 19px 0px 3px;
}
.increaseQty, .decreaseQty {
    background: transparent;
    border: none;
}
.increaseQty:hover, .decreaseQty:hover, .increaseQty:active, .decreaseQty:active, .increaseQty:focus, .decreaseQty:focus{
    background: transparent;
    box-shadow: none;
    border: none;
}
.input-text.qty {
    border: none;
    background: transparent;
}
.cart.table-wrapper .col.qty .input-text{
    width: 42px;
}
.cart.table-wrapper .col.price .price-excluding-tax .price{
    font-weight: 500;
}
td.item-tbl-total-td {
    border-left: 1px solid #cccccc !important;
    border-bottom: 1px solid #cccccc !important;
    padding: 22px 35px;
    text-align: right !important;
}
.cart-container {
    position: relative;
}
div#block-discount {
    position: absolute;
    left: 30px;
    bottom: 48px;
}
.coupon .field {
    display: inline-block;
}
.coupon .actions-toolbar {
    display: inline-block;
}
.coupon .control {
    display: inline-block;
    margin-left: 36px;
}
.coupon .actions-toolbar .primary{
    background:transparent;
    color: #333333;
    margin-left: 4px;
    float: none;
}
.cart-summary .checkout-methods-items{
    text-align: left;
    width: 60%;
}
button.action.apply.primary {
    border: 1px solid #333333;
}
.checkout-methods-items button.action.primary.checkout {
    background: #333333;
}
td.item-tbl-total-td {
    font-size: 17px;
    font-weight: 600;
}
p.custom-cart-summary-subtotal {
    font-weight: 600;
}
strong.summary.title {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 16px;
}
strong.summary.title {
    display: block;
    padding-left: 12px;
}
p.custom-cart-summary-subtotal {
    padding-left: 17px;
}
@media screen and (min-width: 769px) {
    .navigation {
        float: left;
    }
    .block-search {
        float: left;
        padding-left: 27px;
        position: relative;
        width: 100px;
        z-index: 4;
        margin-left: 10%;
    }
    .block-search input {
        padding-right: 5px;
    }
    ul.header.links {
        float: left;
        padding-left: 5px;
        padding-top: 4px;
    }
    .minicart-wrapper {
        float: left;
    }
    .header.content {
        display: flex;
        justify-content: space-between;
    }
    .modes-mode {
        background-color: transparent ;
        border: none ;
        box-shadow: none ;
    }
    .modes-mode:before{
        color: #817c7c ;
    }
    .modes-mode.active:before{
        color: #333333 ;
    }
    a.logo {
        margin: 0;
    }
    .block-search{
        margin-left: 0;
    }
    .navigation{
        margin-top: 10px;
        width: 100%;
    }
    .nav-sections{
        width: 65%;
        background: transparent;
    }
    .block-search, ul.header.links, .minicart-wrapper{
        margin-top: 18px;
    }
}
/** Mobile Devices **/
@media screen and (max-width: 769px) {
    header.page-header {
        margin: 0;
    }
    .nav-toggle{
        top:32px;
    }
    li.link.authorization-link {
        margin-top: 14px;
    }
    .block.block-search {
        margin-bottom: 17px;
    }
    nav.navigation {
        width: 100%;
        text-align: left;
    }
    p#toolbar-amount {
        float: left;
    }
    .toolbar-sorter.sorter {
        float: right;
    }
    .product.details.product-item-details {
        margin-left: 29px;
    }
    li.item.product.product-item {
        margin-bottom: 50px;
    }
    .footer.content .block {
        margin-top: 20px;
    }
    .footer.content .links > li{
        background: transparent;
        border: none;
    }
    ul.footer.links {
        line-height: 11px;
        margin: 0 auto;
    }
    .footer-social ul {
        margin-top: 12px;
    }
    .nav-sections-item-title{
        width: 17%;
    }
    .cart.table-wrapper .product-item-photo{
        top: 41px;
    }
    .cart.table-wrapper .cart tbody td {
        border-right: none;
    }
    tr.item-info {
        border: 1px solid #cccccc;
    }
    div#block-discount {
        position: initial;
    }
    div#block-discount {
        position: initial;
    }
    .discount label.label {
        display: none !important;
    }
    .cat-pg-bnr{
        padding-left: 11px;
    }
}
